
<div class="row">
  <div class="col-md-6">
    <h1>*ngIf</h1>
    <hr>

    <button type="button" class="btn btn-outline-primary btn-block"
            (click)=" mostrar = !mostrar ">
      Mostrar/Ocultar
    </button>

    <br>

      <div *ngIf="mostrar" class="card card-inverse card-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p> {{ frase.mensaje }} </p>
            <footer> {{ frase.autor }} </footer>
          </blockquote>
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let persona of personajes, let i = index"class="list-group-item" >
        {{ i + 1 }}. {{ persona }}
      </li>

    </ul>
  </div>

</div>
